# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @o1egl will be requested for
# review when someone opens a pull request.

*                           @o1egl
agent/*                     @marekful
agents/*                    @marekful
http/agents.go              @marekful
http/remote_resources.go    @marekful
http/transfers.go           @marekful
http/sse.go                 @marekful